<div class='my-8'>
  {{#docs-snippet name='image-cropper-on-action.hbs'}}
    // Your Controller:
    export default Controller.extend({
      actions: {
        imageCrop(cropper, e) {
          console.log({ cropper, e });
        }
      }
    });
    // END-SNIPPET
  {{/docs-snippet}}
</div>
