{{#image-cropper
  source=source
  options=(hash
    aspectRatio=aspectRatio
    viewMode=2
    dragMode='move'
    cropBoxMovable=true
    cropBoxResizable=true
    minContainerWidth=200
    minContainerHeight=200
    autoCropArea=1
  ) as |cropper|}}

  {{cropper.on 'crop' action=(action 'crop')}}
{{/image-cropper}}

{{input type='number' value=aspectRatio}}
<button {{action 'sinbadd'}}>Sinbadd</button>
<button {{action 'sinbad'}}>Sinbad</button>

